/* TYPOGRAPHY */

body{
    color: slategrey;
    font-size: 14px;
    font-family: 'Space Mono', monospace;
}

h1,
h2,
h3{
    color: limegreen;
}

a{
    color: limegreen;
}

/* LAYOUT */



/* MEDIA */


